body {
    font-family: 'Saira Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*header*/
header.header {
    background-color: #29a6dc;
    height: 100vh;
    position: relative;
    text-transform: uppercase;
    color: white;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;

}

header .welcome {
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 7%;
    right: 5%;
    text-align: center;

}

div.welcome p {
    font-size: 40px;
    font-weight: 600;
}

div.welcome h1 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}

div.welcome h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -5px;
}

img.photo1 {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;

}

.welcome button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: transparent;
    border: 2px white solid;
    text-transform: uppercase;
    color: white;
    line-height: 32px;
    margin-top: 30px;
    padding: 0 20px;
}

@media (orientation: portrait) and (min-width: 360px) {


    .header button {
        margin-top: 40px;
        font-size: 16px;
    }

    div.welcome h1 {
        font-size: 24px;
    }

    div.welcome h2 {
        font-size: 24px;
    }
}

@media (orientation: portrait) and (min-width: 374px) {
    img.photo1 {
        right: -13%;

    }

    .header button {
        margin-top: 40px;
        font-size: 20px;
    }

    div.welcome h1 {
        font-size: 28px;
    }

    div.welcome h2 {
        font-size: 28px;
    }

    div.welcome p {
        font-size: 44px;
        font-weight: 600;
    }


}


@media (orientation: portrait) and (min-width: 410px) {
    .header button {
        margin-top: 35px;
        font-size: 22px;
    }

    div.welcome h1 {
        margin-top: 40px;
        font-size: 28px;
    }

    div.welcome h2 {
        font-size: 28px;
    }

    div.welcome p {
        font-size: 56px;
    }

    img.photo1 {
        right: -10%;

    }

}

@media (orientation: portrait) and (min-width: 768px) {
    .header button {
        margin-top: 35px;
        font-size: 30px;
        line-height: 60px;
    }

    div.welcome h1 {
        margin-top: 40px;
        font-size: 36px;
    }

    div.welcome h2 {
        font-size: 36px;
    }

    div.welcome p {
        font-size: 64px;
    }

    img.photo1 {
        right: 0;

    }

}

@media (orientation: portrait) and (min-width: 1024px) {


    .header button {
        margin-top: 40px;
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    div.welcome h1 {
        font-size: 49px;
    }

    div.welcome h2 {
        font-size: 49px;
    }

    div.welcome p {
        font-size: 85px;
        font-weight: 600;
    }

    img.photo1 {
        right: 0;
    }

}



@media (orientation:landscape) {
    img.photo1 {
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header .welcome {
        left: 7%;
        top: 15%;
        right: 48%;
    }

    .header button {
        margin-top: 40px;
    }


}

@media (orientation: landscape) and (min-width: 600px) {

    img.photo1 {
        height: 65%;
        right: -20%;
    }
}




@media (orientation: landscape) and (min-width: 640px) {


    .header button {
        margin-top: 40px;
        font-size: 16px;
    }

    div.welcome h1 {
        font-size: 24px;
    }

    div.welcome h2 {
        font-size: 24px;
    }

    img.photo1 {
        height: 85%;
        right: -20%;
    }
}

@media (orientation: landscape) and (min-width: 812px) {



    img.photo1 {
        height: 85%;
        right: -10%;
    }
}

@media (orientation: landscape) and (min-width: 938px) {


    header .welcome {
        text-align: left;
    }

    .header button {
        margin-top: 40px;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    div.welcome h1 {
        font-size: 40px;
    }

    div.welcome h2 {
        font-size: 40px;
    }

    div.welcome p {
        font-size: 80px;
        font-weight: 600;
    }

    img.photo1 {
        height: 65%;
        right: -10%;
    }

    header .welcome {
        left: 3%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {


    div.welcome h1 {
        font-size: 40px;
    }

    div.welcome h2 {
        font-size: 40px;
    }


    img.photo1 {
        height: 85%;
        right: -24%;
    }



}

@media (orientation: landscape) and (min-width: 1280px) {
    .header button {
        margin-top: 110px;
        font-size: 32px;
        padding: 15px 30px;
        border: 2px solid white;
    }

    div.welcome h1 {
        font-size: 40px;
    }

    div.welcome h2 {
        font-size: 40px;
    }

    div.welcome p {
        font-size: 80px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    img.photo1 {
        height: 85%;
        right: -13%;
    }

    header .welcome {
        text-align: left;
    }


}

@media (orientation: landscape) and (min-width: 1600px) {
    .header button {
        margin-top: 110px;
        font-size: 32px;
        padding: 0 40px;
        border: 2px solid white;
        line-height: 90px;
    }

    div.welcome h1 {
        font-size: 60px;
    }

    div.welcome h2 {
        font-size: 60px;
    }

    div.welcome p {
        font-size: 120px;
        font-weight: 600;
        margin-bottom: 40px;
    }


    img.photo1 {
        height: 90%;
        right: -8%;
    }

    header .welcome {
        text-align: left;
        left: 8%;
    }


}

@media (min-width: 1024px) {
    .header button {
        cursor: pointer;
        transition: 0.3s;
    }

    .header button:hover {
        background-color: white;
        color: #111;
        cursor: pointer;
    }
}


/*Section features*/
section.features {
    color: black;
    overflow: hidden;
    text-align: center;
    margin: 20px auto 0;
    padding: 5%;
    max-width: 1920px;
}

.features h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.features img {
    width: 100%;
    max-width: 375px;
    margin: 5px 0;
}

div.feature h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
}


@media (min-width: 375px) {
    .description {
        font-size: 18px;
    }

    div.feature h2 {
        font-size: 24px;
    }

    .features h1 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .description {
        font-size: 22px;
    }

    div.feature h2 {
        font-size: 30px;
    }

    .features h1 {
        font-size: 38px;
    }
}

@media (min-width: 1024px) and (orientation:landscape) {
    .feature {
        float: left;
        width: 33%;
        padding: 2%;
    }

    .description {
        font-size: 21px;

    }

    div.feature h2 {
        font-size: 26px;
    }

    .features h1 {
        font-size: 45px;
    }

    section.features {
        padding: 5% 2%;
    }

}

@media (min-width: 1600px) {
    .description {
        font-size: 21px;

    }

    div.feature h2 {
        font-size: 36px;
    }

    .features h1 {
        font-size: 60px;
    }
}

/*section portfolio */

section.portfolio {
    background-color: #1e1e1e;
    color: white;
    margin: 30px 0 0 0;
    overflow: hidden;
    text-align: center;
    max-width: 1920px;
}

.portfolio h1 {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    padding: 0 15px;
    margin: 15px 0;

}

.web img {
    width: 100%;
}

.portfolio .about {
    font-family: 'Saira', sans-serif;
    padding: 10px 30px 20px 0px;
}

.portfolio .about h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-indent: 30px;
}

.portfolio .about p {
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
}

.portfolio .projeckt {
    max-width: 1600px;
    margin: 0 auto 30px;
}

div.projeckt:nth-child(even) {
    background-color: #ff4f2c;
}

div.projeckt:nth-child(odd) {
    background-color: #0170ba;
}


@media (min-width: 360px) {
    .portfolio .about p {
        font-size: 14px;
    }
}

@media (min-width: 640px) {
    .portfolio .about p {
        font-size: 12px;
    }
}



@media (min-width: 768px) {
    .portfolio .about p {
        font-size: 18px;
    }


    .portfolio .about h2 {
        font-size: 24px;
    }

    .portfolio h1 {
        font-size: 34px;
    }

}

@media (min-width: 812px) {
    .portfolio .about p {
        font-size: 14px;
    }

}

@media (min-width: 1024px) and (orientation: portrait) {
    .portfolio .about p {
        font-size: 26px;
    }


    .portfolio .about h2 {
        font-size: 32px;
    }

    .portfolio h1 {
        font-size: 50px;
    }

}




@media (orientation: landscape) and (min-width: 640px) {

    .web,
    .about {
        float: left;
        width: 50%;
    }

    .web img {
        display: block;
    }

    div.projeckt:nth-child(odd) .web {
        float: right;

    }

    div.projeckt:nth-child(odd) .about h2 {
        text-indent: 0;
        margin-left: 30px;
    }

    div.projeckt:nth-child(odd) .about {
        padding-right: 0;
    }

    div.projeckt:nth-child(odd) .about p {
        padding-right: 20px;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    .portfolio .about p {
        font-size: 21px;
    }


    .portfolio .about h2 {
        font-size: 36px;
        padding-top: 50px;
        margin-bottom: 50px;
        line-height: 180%;
    }

    .portfolio h1 {
        font-size: 60px;
    }

}

/*section slogan*/
section.slogan {
    max-width: 1920px;
    color: white;
    text-align: center;
    background-image: url(images/motto.jpg);
    background-color: #003f72;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.slogan h1 {
    font-size: 26px;
    text-transform: uppercase;
}

p.text {
    font-size: 18px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    margin-top: 30px;
}

p.author {
    font-size: 12px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

@media (min-width: 768px) and (orientation: portrait) {
    .slogan h1 {
        font-size: 36px;
    }

    p.text {
        font-size: 26px;
        margin-right: 25px;
        margin-left: 25px;
    }

    p.author {
        font-size: 18px;
    }

}



@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 850px) {
    .slogan h1 {
        font-size: 40px;
    }

    p.text {
        font-size: 30px;
    }

    p.author {
        font-size: 20px;
    }

}


@media (min-width: 1024px) {
    .slogan h1 {
        font-size: 50px;
    }

    p.text {
        font-size: 36px;
    }

    p.author {
        font-size: 24px;
    }

    .slogan .bg {
        padding: 150px 10px;
    }

}

@media (min-width: 1366px) {
    .slogan h1 {
        font-size: 60px;
    }

    p.text {
        font-size: 48px;
    }

    p.author {
        font-size: 24px;
    }
}

/*section hobby*/
.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(images/hobby4.jpg);
}

.hobby .item p {
    font-family: 'saira', sans-serif;
    color: white;
    text-align: center;
    line-height: 25vh;
    text-shadow: 0 0 6px black;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 300;

}

.hobby h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 25px;
}


@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }

    .hobby .item p {
        line-height: 40vh;
    }

}

@media (min-width: 768px) {

    .hobby .item p {
        font-size: 28px;
    }

    .hobby h1 {
        font-size: 38px;
    }

}

@media (min-width: 812px) {

    .hobby .item p {
        font-size: 23px;
    }

    .hobby h1 {
        font-size: 32px;
    }

}

@media (min-width: 1024px) {

    .hobby .item p {
        font-size: 40px;
    }

    .hobby h1 {
        font-size: 60px;
    }

}

@media (min-width: 1144px) {

    .hobby .item p {
        font-size: 40px;
        opacity: 0;
        transition: 0.3s;
        cursor: default;

    }

    .hobby h1 {
        font-size: 60px;
    }

    .hobby .item:hover p {
        opacity: 1;
        background-color: rgb(255, 79, 44, 0.5);

    }

    .hobby .item {
        background-size: 100%;
        transition: 0.5s;

    }

    .hobby .item:hover {
        background-size: 130%;

    }

}

@media (min-width: 1366px) {

    .hobby .item p {
        font-size: 50px;

    }

}

@media (min-width: 1425px) {

    .hobby .item p {
        line-height: 50vh;

    }

    .hobby .item {
        height: 50vh;
    }


}

@media (min-width: 1440px) {

    .hobby .item p {
        font-size: 60px;

    }
}

/*section contact*/
.contact {
    background-color: #111;
    color: white;
    padding: 30px 20px;
    max-width: 1920px;
}

.contact h1 {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    padding-bottom: 30px;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'saira', sans-serif;
}

.contact input {
    font-size: 12px;
    height: 36px;
    padding: 5px;
}

.contact textarea {
    font-size: 12px;
    height: 120px;
    padding: 5px;

}

.contact button {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    height: 40px;
    border: 2px solid white;
    font-size: 14px;
    transition: 0.3s;
}

.social .socials {
    padding-top: 30px;

}

.contact .social {
    padding: 10px 0;
    color: white;
}

.contact .social img {
    float: left;
    height: 36px;
}

.contact .social span {
    line-height: 36px;
    padding-left: 15px;
    float: left;
    font-size: 20px;

}

.contact .wrap {
    max-width: 1024px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 49%;
    }

}

@media (min-width: 768px) {
    .contact button {
        font-size: 20px;
    }

    .contact .social img {
        height: 50px;
    }

    .contact .social span {
        line-height: 50px;
        font-size: 22px;

    }

    .contact h1 {
        font-size: 38px;
    }

}

@media (min-width: 1024px) {
    .contact button {
        font-size: 26px;
    }

    .contact .social img {
        height: 64px;
    }

    .contact .social span {
        line-height: 64px;
        font-size: 15px;
        padding-left: 20px;

    }

    .contact h1 {
        font-size: 60px;
    }

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact .wrap {
        margin: 0 auto;
    }

    .contact input {
        font-size: 20px;
        height: 50px;
    }

    .contact textarea {
        font-size: 20px;
        height: 140px;
    }


}

@media (min-width: 1025px) {
    .contact .social img {
        opacity: 0.8;
    }

    .contact .social:hover img {
        opacity: 1;
    }

    .contact .social:hover span {
        cursor: default;
    }

    .contact button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

}

@media (min-width: 1366px) {
    .contact input {
        font-size: 24px;
        height: 80px;
    }

    .contact textarea {
        font-size: 24px;
        height: 180px;
    }

    .contact button {
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        height: 72px;
        border: 2px solid white;
        font-size: 30px;
    }

}

/*footer*/
footer {
    background-color: #29a9df;
    text-align: center;
    font-size: 18px;
    font-family: 'saira', sans-serif;
    padding: 12px 0;
}

